# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
.project
.classpath

# Build and Temp folders
dist/
build/
tmp/
coverage/

# OS specific
.DS_Store
Thumbs.db
referenceProject